<script src="/frontend/log_reg/vendors/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- inject:js -->
<script src="/frontend/log_reg/js/off-canvas.js"></script>
<script src="/frontend/log_reg/js/hoverable-collapse.js"></script>
<script src="/frontend/log_reg/js/template.js"></script>
<script src="/frontend/log_reg/js/scripts.js"></script>

<!-- endinject -->

</body>

</html>
