<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <div class="text-center sidebar-brand-wrapper d-flex align-items-center">
      <!-- <a class="sidebar-brand brand-logo" href="index.html"><img src="assets/images/logo.svg" alt="logo" /></a>
      <a class="sidebar-brand brand-logo-mini pl-4 pt-3" href="index.html"><img src="assets/images/logo-mini.svg" alt="logo" /></a> -->
    </div>
    <ul class="nav">
      <li class="nav-item nav-profile">
        <a href="#" class="nav-link">
          <div class="nav-profile-image">
            <img  src="images/smp_logo.jpg" alt="profile" />
            <span class="login-status online"></span>
            <!--change to offline or busy as needed-->
          </div>
          <div class="nav-profile-text d-flex flex-column pr-3">
            <span class="font-weight-medium mb-2">Kelas 8D</span>
            <span class="font-weight-normal">SMP Khadijah - Surabaya</span>
          </div>
          <!-- <span class="badge badge-danger text-white ml-3 rounded">3</span> -->
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/dashboard">
          <i class="mdi mdi-home menu-icon"></i>
          <span class="menu-title">Dashboard</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/kamar_mandi_pa">
          <i class="mdi mdi-scale-bathroom menu-icon"></i>
          <span class="menu-title">Kamar Mandi Putra</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/kamar_mandi_pi">
          <i class="mdi mdi-scale-bathroom menu-icon"></i>
          <span class="menu-title">Kamar Mandi Putri</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/perpustakaan">
          <i class="mdi mdi-library menu-icon"></i>
          <span class="menu-title">Perpustakaan</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/uks">
          <i class="mdi mdi-hospital-building menu-icon"></i>
          <span class="menu-title">UKS</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/">
          <i class="mdi mdi-logout menu-icon"></i>
          <span class="menu-title">Logout</span>
        </a>
      </li>
    </ul>
  </nav>