<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Promeet :: Home</title>
    <meta name="google-site-verification" content="b8i4YHomf5hwijt8Nhxe7svO4-Qbexnxha-mt7NIm5Y" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/frontend/assets/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="/frontend/assets/vendors/font-awesome/css/all.min.css">
    <link href="/frontend/assets/vendors/aos/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="/frontend/assets/css/style.css">
    <script src="/frontend/assets/vendors/jquery/jquery.min.js"></script>
    <script src="/frontend/assets/js/loader.js"></script>
</head>

<body>